{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>말할 수 없는 영화</title>
    {% bootstrap_css %}
    {#  부트스트랩 사용하기위한거 css, 자바스크립트(얘는 아래에 있음)  #}
    <!-- Custom fonts for this template -->
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">


    {#    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" media="screen"/>#}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}"/>

</head>

<body>
<div class="container">


    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler3"
                    aria-controls="myNavbarToggler3" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/recommand">O' movie</a>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    {% if not user.is_authenticated %}
                        {#                 유저가 인증되지 않은 상황이면 아래와 같은 창을 위에 띄워라#}
                        <li class='nav-item'><a href="/accounts/signup" class="nav-link">signup</a></li>
                        <li class='nav-item'><a href="/accounts/login" class="nav-link">login</a></li>
                    {% else %}
                        <li class='nav-item'><a href="/accounts/profile" class="nav-link">profile</a></li>
                        <li class='nav-item'><a href="/accounts/logout" class="nav-link">logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


</div>

<div class="container">
    {% bootstrap_messages %}

    {% if messages %}
        {% for msg in messages %}
            <li>
                {{ msg.tags }}
                {#success등의 테그#}
                {{ msg }}
            </li>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
    {# 응! base.html을 다른데서 사용하는 그거 맞아 #}

</div>
<div class = 'footer'>
    <hr/>
    &copy; 2022. 5조 화이팅!!!
</div>



{% bootstrap_javascript %}

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
</body>
</html>