@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
body {
    font-family: 'Gowun Dodum', sans-serif;
    background: url('/static/img/background.jpg') no-repeat
center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



section {
    margin-bottom: 300px;
}
