body {
    background: url('/static/img/background.jpg') no-repeat
center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section {
    margin-bottom: 300px;
}
