.navbar-nav{
    text-align: right;
}
.navbar .navbar-brand{
    color: white;
    font-size: 1.8em;
    font-weight: bold;"
}

.navbar .navbar-nav .nav-link {
    color: white;
    font-size: 1.1em;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.navbar .navbar-nav .nav-link:hover{
    color: black;
}
