@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200&display=swap');
body {
font-family: 'IBM Plex Sans KR', sans-serif;
  background-color: gray;
}

section {
    margin-bottom: 300px;
}
