{% extends 'recommand/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}

{% block content %}

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'css/otherhome.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'css/repagecss.css' %}">

    <section>
        <div class="table_responsive">
            <table>
                <thead>
                <tr>
                    <th> 추천 순위</th>
                    <th> 포스터</th>
                    <th> 영화 정보</th>
                    <th> 레이더 차트</th>
                    <th> 평가</th>
                </tr>
                </thead>


                <tbody>

                {% for re_mv in rec_mv %}

                    <tr>
                        <td> 0</td>
                        <td><img src="{{ re_mv.movie_poster.url }}" alt="poster"></td>
                        <td>영화제목 : {{ re_mv.movie_name }} <br>
                            장르 : {{ re_mv.movie_ger }} <br>
                            감독 : {{ re_mv.movie_dir }} <br>
                            배우 : {{ re_mv.movie_act }} <br>
                            <a href="#"> 영화 예고편 </a><br>
                        </td>
                        {% for re_ost in rec_ost %}
                            {% if re_ost.movie_id_id == re_mv.movie_id %}
                                <td><img src="{{ re_ost.rader_chart.url }}" alt="rader"></td>
                            {% endif %}

                        {% endfor %}

                        <td>
                            <span class="action_btn">
                                <button type="button" name="{{ re_mv.movie_id }}">좋아요</button>
                                <button type="button">싫어요</button>
                            </span>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>
        </div>
    </section>

{% endblock %} }}