{% extends 'recommand/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
        {% if searched %}        # 만약, 검색창에 입력한 값이 있다면 이라는 의미입니다.
                <h1> 검색하신 {{ searched }} 정보입니다. </h1>
                <br>
{#                {% for recipe in recipes %}#}
{#                        {{ recipe.movie_id }} <br>#}
{#                        {{ recipe.movie_name }} <br>#}
{#                {% endfor %}#}
            {{ recipes.movie_name }}
            <br>
                {% for fir in forign %}
                    {{ fir.ost_name }}<br>
                {% endfor %}


        {% else %}        # 검색창에 아무것도 입력하지 않았을 경우 뜨는 메시지입니다.
                <h1> 찾고 있는 레시피를 검색창에 입력해주세요. </h1>
        {% endif %}
{% endblock %}